@model ERPSystem.Models.OrderHeaderCollection;
@{
    ViewData["Title"] = "Orders";
}

<div class="d-flex justify-content-between mb-3">
    <h1>Orders (@Model.Count)</h1>
    <button type="button" class="btn btn-outline-dark" data-toggle="tooltip" title="Add new order">
        <i class="fas fa-plus-circle"></i>
    </button>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Customer No</th>
        <th scope="col">Order Status</th>
        <th scope="col">Creation Date</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
         @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderNo</td>
                    <td>@order.CustomerNo</td>
                    <td>@order.Status</td>
                    <td>@order.CreationDate</td>
                    <td>
                        <div class="float-right">
                            @switch (order.Status)
                            {
                                case "created":
                                    <button type="button" class="btn btn-outline-success" data-toggle="tooltip" title="Edit current order">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" title="Stop current order">
                                        <i class="fas fa-ban"></i>
                                    </button>
                                    break;
                                case "active":
                                case "completed":
                                case "stored":
                                case "loaded":
                                    <button type="button" class="btn btn-outline-info" data-toggle="tooltip" title="View current order">
                                        <i class="fas fa-info-circle"></i>
                                    </button>
                                    break;
                            }
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>

