@model ERPSystem.Models.OrderHeaderCollection;
@{
    ViewData["Title"] = "Orders";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Orders</li>
    </ol>
</nav>
<div class="d-flex justify-content-between mb-3">
    <h1>Orders (@Model.Count)</h1>
    
    <span class="align-self-center" data-toggle="tooltip" title="Add new order">
        <button class="btn btn-outline-dark" data-toggle="modal" data-target="#modal-edit" onclick="AddEditOrder()">
            <i class="fas fa-plus-circle"></i>
        </button>
    </span>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" style="width: 66px"></th>
        <th scope="col">Order ID</th>
        <th scope="col">Customer No</th>
        <th scope="col">Order Status</th>
        <th scope="col">Creation Date</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td class="align-middle">
                <a class="btn btn-outline-info" data-toggle="tooltip" title="View current order" asp-controller="Orders" asp-action="ViewOrder" asp-route-orderNo="@order.OrderNo">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
            <td class="align-middle">@order.OrderNo</td>
            <td class="align-middle">@order.CustomerNo</td>
            <td class="align-middle">
                @switch (order.Status)
                {
                    case "created":
                        <span style="color: #0f6674">@order.Status</span>
                        break;
                    case "active":
                        <span style="color: #3dc89e">@order.Status</span>
                        break;
                    case "completed":
                        <span style="color: darkseagreen">@order.Status</span>
                        break;
                    case "stored":
                        <span style="color: #1c7430">@order.Status</span>
                        break;
                    case "loaded":
                        <span style="color: rebeccapurple">@order.Status</span>
                        break;
                }
            </td>
            <td class="align-middle">@order.CreationDate</td>
            <td class="align-middle">
                <div class="float-right">
                    @switch (order.Status)
                    {
                        case "created":
                            <button type="button" class="btn btn-outline-success" data-toggle="tooltip" title="Edit current order">
                                <i class="fas fa-edit"></i>
                            </button>
                            <span data-toggle="tooltip" title="Delete current order">
                                <button class="btn btn-outline-danger deleteItem" data-toggle="modal" data-target="#modal-delete"
                                        data-id="@order.OrderNo"
                                        data-path="@Url.Action("DeleteOrder", "Orders", new {orderNo = order.OrderNo})">
                                    <i class="fas fa-ban"></i>
                                </button>
                            </span>
                            break;
                        case "active":
                        case "completed":
                        case "stored":
                        case "loaded":
                            break;
                    }
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete current order?</h4>
                <p class="alert alert-warning">You will not be able to revert changes.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="btnContinueDelete">Delete</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-edit" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customer dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body" id="modalEditBody">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        let path_to_delete;
    
        $(".deleteItem").click(function(e) {
            path_to_delete = $(this).data('path');
        });
    
        $('#btnContinueDelete').click(function () {
            window.location = path_to_delete;
        });
        
        let AddEditOrder=function(orderId){
            
            let url="/Orders/AddEditOrder?OrderNo="+orderId;
    
            $("#modalEditBody").load(url,function(){
                $("#modal-edit").modal("show");
            })
    
        }
    </script>
}