@model ERPSystem.Models.OrderHeader
@{
    ViewData["Title"] = Model.OrderNo != null ? "Details for Order No: " + Model.OrderNo : "New Order";
    var existingCustomers = ViewData["ExistingCustomers"] as CustomerCollection;
}
<nav aria-label="breadcrumb mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Orders" asp-action="Index">Orders</a></li>
        <li class="breadcrumb-item active" aria-current="page">@if (Model.OrderNo != null)
            {
                <span>Order No @Model.OrderNo</span>
            }
            else
            {
                <span>New Order</span>
            }</li>
    </ol>
</nav>

@using (Html.BeginForm("AddUpdateOrder", "Orders", FormMethod.Post))
{
    <div class="row">
        <div class="col-4">
            <input type="hidden" name="OrderNo" id="OrderNo" value="@Model.OrderNo"/>
            <input type="hidden" name="Status" id="Status" value="null"/>
            <div class="form-group">
                <label for="CreationDate">Order Date</label>
                <input type="datetime-local" class="form-control" id="CreationDate" name="CreationDate" required value="@Model.CreationDate">
            </div>
            @if (existingCustomers != null)
            {
                <div class="form-group">
                    <label>Customer</label>
                    <select class="form-control" id="CustomerNo" name="CustomerNo" required asp-for="CustomerNo">
                        @foreach (var customer in existingCustomers)
                        {
                            <option value="@customer.CustomerNo">@customer.CustomerName</option>
                        }
                    </select>
                </div>
            }
            <div class="form-group">
                <label for="Sequence">Order Priority</label>
                <input type="number" class="form-control" id="Sequence" name="Sequence" required value="@Model.Sequence">
            </div>
            <div class="form-group">
                <label for="Carrier">Carrier</label>
                <input type="text" class="form-control" id="Carrier" name="Carrier" required value="@Model.Carrier">
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
        </div>
        <div class="col-8">
            <div class="d-flex justify-content-between mb-3">
                <h2>Items</h2>
                
                <span class="align-self-center" data-toggle="tooltip" title="Add new item">
                    <a class="btn btn-outline-dark"
                       id="addItem"
                       href="@Url.Action("BlankEditorRow", null)">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </span>
            </div>

            <table class="table table-striped" id="itemsTable">
                <thead>
                    <th>OrderPos</th>
                    <th>Material</th>
                    <th>TargetQuantity</th>
                    <th style="width: 66px"></th>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        await Html.RenderPartialAsync("OrderItemEditorRow", item);
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@section Scripts
{
    <script>
        $("#addItem").click(function() {
            $.ajax({
                url: this.href,
                cache: false,
                success: function(html) { 
                    $("#itemsTable > tbody").append(html); 
                }
            });
            return false;
        });
        
         $("body").on("click", ".deleteRow", function (){
            $(this).parents("tr.editorRow:first").remove();
            return false;
         });
    </script>
}