@model ERPSystem.Models.OrderHeader
@{
    ViewData["Title"] = "Details for Order No: " + Model.OrderNo;
    var existingMaterials = ViewData["ExistingMaterials"] as MaterialCollection;
    var existingCustomers = ViewData["ExistingCustomers"] as CustomerCollection;
}
<nav aria-label="breadcrumb mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Orders" asp-action="Index">Orders</a></li>
        <li class="breadcrumb-item active" aria-current="page">Order No @Model.OrderNo</li>
    </ol>
</nav>

<div class="row">
    <div class="col-4"> 
        <h2>Order info:</h2>
        <table class="table table-striped table-sm">
            <tr>
                <td>Order No:</td>
                <td>@Model.OrderNo</td>
            </tr>
            <tr>
                <td>Customer No:</td>
                <td>@Model.CustomerNo</td>
            </tr>
            <tr>
                <td>Customer Name:</td>
                <td>
                    @if (existingCustomers != null)
                    {
                        <span>@existingCustomers.FirstOrDefault(x => x.CustomerNo == @Model.CustomerNo)?.CustomerName</span>
                    }
                </td>
            </tr>
            <tr>
                <td>Creation Date:</td>
                <td>@Model.CreationDate</td>
            </tr>
            <tr>
                <td>Carrier:</td>
                <td>@Model.Carrier</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td>@Model.Sequence</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>@Model.Status</td>
            </tr>
        </table>
    </div>
    <div class="col-8">
        @if (Model.Items.Count > 0)
        {
            <h2>Order items (@Model.Items.Count):</h2>
            <table class="table table-striped">
                <thead>
                    <th>Material</th>
                    <th>TargetQuantity</th>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @item.MaterialNo
                                @if (existingMaterials != null)
                                {
                                    <span>(@existingMaterials.FirstOrDefault(x => x.MaterialNo == item.MaterialNo)?.MaterialType)</span>
                                }
                            </td>
                            <td>@item.TargetQuantity</td>
                        </tr>
                    }
                </tbody>
            </table>                             
        }
        else
        {
            <div class="alert alert-warning mt-3" role="alert">
                <h4 class="alert-heading">Oops!</h4>
                <p>Unfortunately, current order has no items.</p>
                <hr/>
                <p class="mb-0">Or there was an error, so please refresh the page.</p>
            </div>
        }
    </div>
</div>