@model ERPSystem.Models.CustomerCollection;
@{
    ViewData["Title"] = "Customers";
}

<div class="d-flex justify-content-between mb-3">
    <h1>Customers (@Model.Count)</h1>
    
    <span data-toggle="tooltip" title="Add new customer">
        <a class="btn btn-outline-dark" data-toggle="modal" data-target="#modal-mrole">
            <i class="fas fa-user-plus"></i>
        </a>
    </span>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">VIP</th>
        <th scope="col">Customer No</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Country</th>
        <th scope="col">City</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
         @foreach (var customer in Model)
            {
                <tr>
                    <td>@if (customer.VIP) {<i class="fas fa-gem"></i>}</td>
                    <td>@customer.CustomerNo</td>
                    <td>@customer.CustomerName</td>
                    <td>@customer.Country</td>
                    <td>@customer.City</td>
                    <td>@customer.Streetaddress</td>
                    <td>
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-success" data-toggle="tooltip" title="Edit current customer">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" title="Delete current customer">
                                <i class="fas fa-user-slash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>

<div class="modal fade" id="modal-mrole">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header with-border">
                <h3 class="box-title">New Customer</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="modal-body">
                        @using (Html.BeginForm("AddCustomer", "Home", FormMethod.Post))
                        {
                            <div class="form-group row">
                                <label for="CustomerName" class="col-sm-2 col-form-label">Customer Name</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="CustomerName" name="CustomerName">
                                </div>
                              </div>
                            
                            <div class="form-group row">
                                <label for="CustomerName" class="col-sm-2 col-form-label">Country</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Country" name="Country" maxlength="3">
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="CustomerName" class="col-sm-2 col-form-label">City</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="City" name="City">
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="CustomerName" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="Streetaddress" name="Streetaddress">
                                </div>
                            </div>
                            <div class="row float-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


