@model ERPSystem.Models.CustomerCollection;
@{
    ViewData["Title"] = "Customers";
}

<div class="d-flex justify-content-between mb-3">
    <h1>Customers (@Model.Count)</h1>
    
    <span data-toggle="tooltip" title="Add new customer">
        <button class="btn btn-outline-dark" data-toggle="modal" data-target="#modal-mrole">
            <i class="fas fa-user-plus"></i>
        </button>
    </span>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">VIP</th>
        <th scope="col">Customer No</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Country</th>
        <th scope="col">City</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
         @foreach (var customer in Model)
            {
                <tr>
                    <td>@if (customer.VIP) {<i class="fas fa-gem"></i>}</td>
                    <td>@customer.CustomerNo</td>
                    <td>@customer.CustomerName</td>
                    <td>@customer.Country</td>
                    <td>@customer.City</td>
                    <td>@customer.Streetaddress</td>
                    <td>
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-success" data-toggle="tooltip" title="Edit current customer">
                                <i class="fas fa-edit"></i>
                            </button>
                             <span data-toggle="tooltip" title="Delete current customer">
                                 <button class="btn btn-outline-danger deleteItem" data-toggle="modal" data-target="#modal-delete" 
                                         data-id="@customer.CustomerNo"
                                         data-path="@Url.Action("DeleteCustomer", "Home", new {customerNo = customer.CustomerNo})">
                                        <i class="fas fa-user-slash"></i>
                                    </button>
                                </span>
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>

<div class="modal fade" id="modal-mrole">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header with-border">
                <h3 class="box-title">New Customer</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddCustomer", "Home", FormMethod.Post))
                {
                    <div class="form-group row">
                        <label for="CustomerName" class="col-sm-3 col-form-label">Customer Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="CustomerName" name="CustomerName" required>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="Country" class="col-sm-3 col-form-label">Country</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Country" name="Country" maxlength="3" required>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="City" class="col-sm-3 col-form-label">City</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="City" name="City" required>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="Streetaddress" class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Streetaddress" name="Streetaddress" required>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="VIP" name="VIP">
                            <label class="form-check-label" for="VIP">
                                Add VIP status for customer
                            </label>
                        </div>
                    </div>
                    
                    <div class="row float-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customer Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete current customer?</h4>
                <p class="alert alert-warning">You will not be able to revert changes.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="btnContinueDelete">Delete</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var path_to_delete;
    
        $(".deleteItem").click(function(e) {
            path_to_delete = $(this).data('path');
        });
    
        $('#btnContinueDelete').click(function () {
            window.location = path_to_delete;
        });
    </script>
}
