@{
    ViewData["Title"] = "Home Page";
    
    var orders = ViewData["Orders"] as OrderHeaderCollection; 
}

<div class="d-flex justify-content-between mb-3">
    <h1>Orders (@orders.Count)</h1>
    <button type="button" class="btn btn-outline-dark">
        Add new order
    </button>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Customer No</th>
        <th scope="col">Order Status</th>
        <th scope="col">Creation Date</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
         @foreach (var order in orders)
            {
                <tr>
                    <td>@order.OrderNo</td>
                    <td>@order.CustomerNo</td>
                    <td>@order.Status</td>
                    <td>@order.CreationDate</td>
                    <td>
                        <div class="float-right">
                            @switch (order.Status)
                            {
                                case "created":
                                    <button type="button" class="btn btn-outline-success">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-outline-danger">
                                        Delete
                                    </button>
                                    break;
                                case "active":
                                case "completed":
                                case "stored":
                                case "loaded":
                                    <button type="button" class="btn btn-outline-info">
                                        View details
                                    </button>
                                    break;
                            }
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>